body {
    background-color: #191919;
}

/* .c-item {
    height: 480px;
    background: red;
}

c-img {
    height: 100%;
    object-fit: cover;
} */

.carousel-inner > .carousel-item > img {
    width:640px;
    height:480px;
  }


.c-img {
    height: 100%;
    object-fit: cover;
}

.b-item {
    margin: 30px;
    background-color: #696969;
}

.b-img {
    height: 540px;
    object-fit: cover;
}










